In [36]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [ ]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [37]:
df_iter = pd.read_csv(
    "./yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000, low_memory=False
)

In [ ]:
for i, df in enumerate(df_iter):
    t_start = time()
    df.tpep_pickup_datetime = pd.to_datetime(df["tpep_pickup_datetime"])
    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

    df.to_sql(con=engine, name="yellow_taxi_data", if_exists="append")
    t_end = time()
    print("inserted %d row in %.3f s " % (len(df), t_end - t_start))

inserted 100000 row in 8.667 s
inserted 100000 row in 9.169 s
inserted 100000 row in 9.761 s
inserted 100000 row in 9.822 s
inserted 100000 row in 9.313 s
inserted 100000 row in 8.596 s
inserted 100000 row in 7.818 s
inserted 100000 row in 7.617 s
inserted 100000 row in 8.847 s
inserted 100000 row in 9.221 s
inserted 100000 row in 8.318 s
inserted 100000 row in 8.493 s
inserted 100000 row in 8.491 s
inserted 69765 row in 5.720 s

In [ ]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_date", con=engine))

CREATE TABLE yellow_taxi_date (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [18]:
df.head(n=0).to_sql(con=engine, name="yellow_taxi_data", if_exists="replace")

0